**Input output in Python**

In [1]:
nm=input('Enter your name ')

Enter your name jos buttler

In [2]:
print(f'user name is {nm}')

user name is jos buttler

In [3]:
n=int(input('Enter a number '))
sq=n*n
print(f"square of {n} is {sq}")

Enter a number 13
square of 13 is 169

In [4]:
x=float(input('Enter first number '))
y=float(input('Enter second number '))
z=x+y
print(f"sum of {x} and {y} is {z}")

Enter first number 16.81
Enter second number 43.27
sum of 16.81 and 43.27 is 60.08

In [5]:
custnm=input('Enter customer name ')
amount=float(input('Enter purchase amount '))
discount=amount*10/100
net=amount-discount
print(f'Customer Name : {custnm}')
print(f'Purchase amount : {amount}')
print(f'Discount : {discount}')
print(f'Net Bill : {net}')

Enter customer name pat cummins
Enter purchase amount 14500
Customer Name : pat cummins
Purchase amount : 14500.0
Discount : 1450.0
Net Bill : 13050.0