**Arithmetic Operators**

In [8]:
x=9
y=13

# arithmetic operators demo
print(x+y)
print(x-y)
print(x*y)
print(x/y)
# floor division
print(y//x)
#modulus
print(y%x)
print(27%4)
#power
print(7**2)
print(2**3)

22
-4
117
0.6923076923076923
1
4
3
49
8

**Relational Operators**

In [16]:
a=5

print(a==3)
print(a==5)
password="chelsea"
print(password=="liverpool")

x=10
print(x>15)
print(x<15)
print(x<=10)
print(x>=15)
print(x!=7)

False
True
False
False
True
True
False
True

**Assignment Operators**

In [17]:
x=9
x+=3    # x=x+3
x-=2
x*=5
x/=2
x//=5
x%=2
print(x)

1.0

**Logical Operators**

In [22]:
print(10>5)
print(7<5)

print(10>5 and 7<5)
print(10>5 or 7<5)
print(not 9>13)

True
False
False
True
True

**Membership operators**

In [25]:
print('s' in 'praffull')
print('s' not in 'praffull')

lst=['soham','praffull','sharayu','tejas','vijay']
print('megha' in lst)

False
True
False

**Ternary Operator**

In [27]:
marks=25
result='pass' if marks>=35 else "fail"
print(result)

fail