In [ ]:
numbers=range(5)

print(numbers)
print(type(numbers))

range(0, 5)
<class 'range'>

In [ ]:
for n in numbers:
  print(n)

0
1
2
3
4

In [ ]:
numbers=range(9,25,2)
for n in numbers:
  print(n)

9
11
13
15
17
19
21
23

In [1]:
import sys

big_range=range(1000000)
big_list=list(range(1000000))

print(sys.getsizeof(big_range))
print(sys.getsizeof(big_list))

48
8000056