In [1]:
lst=[x for x in range(51,61)]
print(lst)

[51, 52, 53, 54, 55, 56, 57, 58, 59, 60]

In [3]:
s={x for x in range(51,61)}
print(s)

{51, 52, 53, 54, 55, 56, 57, 58, 59, 60}

In [5]:
sqr={x:x**2 for x in range(21,31)}
print(sqr)

{21: 441, 22: 484, 23: 529, 24: 576, 25: 625, 26: 676, 27: 729, 28: 784, 29: 841, 30: 900}

In [6]:
sqodd={x:x*x for x in range(51,76) if x%2==1}
print(sqodd)

{51: 2601, 53: 2809, 55: 3025, 57: 3249, 59: 3481, 61: 3721, 63: 3969, 65: 4225, 67: 4489, 69: 4761, 71: 5041, 73: 5329, 75: 5625}

In [7]:
eqres={x:x*x+13*x+9 for x in range(1,11)}
print(eqres)

{1: 23, 2: 39, 3: 57, 4: 77, 5: 99, 6: 123, 7: 149, 8: 177, 9: 207, 10: 239}

In [13]:
dic={'praffull':'java','sharayu':'spring','megha':'machine learning'}

#print(dic.items())

for nm,tech in dic.items():
  print(f"Name : {nm} Technology : {tech}")

Name : praffull Technology : java
Name : sharayu Technology : spring
Name : megha Technology : machine learning

In [11]:
prices={'apple':50,'banana':30,'mango':120,'orange':40}
discounted={item:price-(price*0.13) for item,price in prices.items()}
print(discounted)

{'apple': 43.5, 'banana': 26.1, 'mango': 104.4, 'orange': 34.8}

In [17]:
emps=['Jos Buttler','Pat Cummins','Joe Root','Steve Smith','Ben Stokes']
for index,value in enumerate(emps):
  print(f"{index} and {value}")

0 and Jos Buttler
1 and Pat Cummins
2 and Joe Root
3 and Steve Smith
4 and Ben Stokes

In [16]:
emps=['Jos Buttler','Pat Cummins','Joe Root','Steve Smith','Ben Stokes']
empids={i+101:name for i,name in enumerate(emps)}

print(empids)

{101: 'Jos Buttler', 102: 'Pat Cummins', 103: 'Joe Root', 104: 'Steve Smith', 105: 'Ben Stokes'}