In [1]:
dic={101: 'Jos Buttler', 102: 'Pat Cummins', 103: 'Joe Root', 104: 'Steve Smith', 105: 'Ben Stokes'}
print(dic)

{101: 'Jos Buttler', 102: 'Pat Cummins', 103: 'Joe Root', 104: 'Steve Smith', 105: 'Ben Stokes'}

In [4]:
if 106 in dic:
  print(dic[103])
else:
  print('key not found')

key not found

In [5]:
company={
    "IT":{
        "manager":"praffull",
        "employees":["sharayu","sneha","nupur","javed"]
    },
    "HR":{
        "manager":"shailaja",
        "employees":["megha","manali","rita"]
    }
}

In [7]:
print(company["IT"])

{'manager': 'praffull', 'employees': ['sharayu', 'sneha', 'nupur', 'javed']}

In [8]:
print(company["IT"]["manager"])

praffull

In [9]:
print(company["IT"]["employees"])

['sharayu', 'sneha', 'nupur', 'javed']

In [10]:
print(company["IT"]["employees"][0])

sharayu

In [12]:
for nm in company["IT"]["employees"]:
  print(nm.upper())

SHARAYU
SNEHA
NUPUR
JAVED