In [ ]:
n=int(input('Enter a number : '))
sq=n*n
print(f"square of {n} is {sq}")

Enter a number : soham

ValueError: invalid literal for int() with base 10: 'soham'

Exception Handling

In [ ]:
try:
  n=int(input('Enter a number : '))
except:
  print("Invalid input...please enter a number")
  n=0

sq=n**2
print(f"square of {n} is {sq}")

Enter a number : soham
Invalid input...please enter a number
square of 0 is 0

In [ ]:
custnm=input('Enter customer name : ')

try:
  purchamt=float(input('Enter purchase amount : '))
except ValueError:
  print('invalid purchase amount')
  purchamt=0

discount=purchamt*10/100
bill=purchamt-discount

print(f"{custnm}, your net bill is {bill}")

Enter customer name : sharayu
Enter purchase amount : java
invalid purchase amount
sharayu, your net bill is 0.0

In [8]:
try:
  x=int(input('Enter first number '))
  y=int(input('Enter second number '))
  res=x/y
except ValueError:
  res=0
  print('Invalid input')
except ZeroDivisionError:
  res=x
  print('cant divide by zero')

print(f'result of division is {res}')

Enter first number 43
Enter second number 0
cant divide by zero
result of division is 43

In [12]:
try:
  x=int(input('Enter first number '))
  y=int(input('Enter second number '))
  res=x/y
except:
  res=0
  print('Invalid input or divided by zero')

print(f'result of division is {res}')

Enter first number 35
Enter second number 0
Invalid input or divided by zero
result of division is 0

In [13]:
film={
    "name":"sholay",
    "releaseyear":1975,
    "genre":"action",
    "language":"hindi",
    "actors":["amitabh bachchan","dharmendra","sanjiv kumar"],
    "music":"r d burman",
    "imdbrating":7.9
}

In [17]:
key=input('Enter key : ')
print(film[key])

Enter key : actress

KeyError: 'actress'

In [24]:
key=input('Enter key : ')
try:
  print(film[key])
except KeyError:
  print(f'information not available for {key}')
finally:
  print('films make our life live')

Enter key : actresses
information not available for actresses
films make our life live

In [25]:
lst=['java','spring','python','data science','machine learning','genai','pandas']

In [28]:
i=int(input('Enter list index : '))
print(lst[i])

Enter list index : 9

IndexError: list index out of range

In [29]:
i=int(input('Enter list index : '))
print(lst[i])

Enter list index : a

ValueError: invalid literal for int() with base 10: 'a'

In [33]:
try:
  i=int(input('Enter list index : '))
  print(lst[i])
except ValueError:
  print('invalid index...must be a number')
except IndexError:
  print('Index value out of range')

Enter list index : 4
machine learning

In [36]:
try:
  i=int(input('Enter list index : '))
  try:
    print(lst[i])
  except IndexError:
    print('index out of range')
except ValueError:
  print('invalid index...must be a number')

Enter list index : 9
index out of range