**function is a reusable code with logic that i can use anywhere**

In [ ]:
def welcome():
  print("Hello and welcome to python functions")

In [ ]:
welcome()

Hello and welcome to python functions

In [ ]:
def thanks(name):
  print(f"thanks {name} for joining SohamGlobal")

In [ ]:
thanks("sharayu")
thanks("soham")
thanks("shailaja")

thanks sharayu for joining SohamGlobal
thanks soham for joining SohamGlobal
thanks shailaja for joining SohamGlobal

In [ ]:
def calcsquare(n):
  sq=n*n
  print(f"square of {n} is {sq}")

In [ ]:
welcome()
calcsquare(9)
calcsquare(13)
thanks("praffull")

Hello and welcome to python functions
square of 9 is 81
square of 13 is 169
thanks praffull for joining SohamGlobal

In [ ]:
def calcdiscount(amount):
  if amount>20000:
    discount=amount*13/100
  else:
    discount=amount*9/100

  return discount

In [ ]:
d=calcdiscount(15700)
print(f"discount is {d}")

discount is 1413.0

In [ ]:
def add(a,b):
  c=a+b
  print(f"sum is {c}")

In [ ]:
add(12,34)

sum is 46

In [ ]:
add(23.65,44.81)

sum is 68.46000000000001

In [ ]:
add("soham","global")

sum is sohamglobal

In [ ]:
add(["java","python","sql"],["praffull","sharayu"])

sum is ['java', 'python', 'sql', 'praffull', 'sharayu']

default value

In [9]:
def calcbill(amount,discperc=7):
  discount=amount*discperc/100
  bill=amount-discount
  print(f"Amount : {amount}, Discount percent :{discperc}, Discount : {discount}, Bill : {bill}")

In [10]:
calcbill(9750,5)

Amount : 9750, Discount percent :5, Discount : 487.5, Bill : 9262.5

In [11]:
calcbill(12300)

Amount : 12300, Discount percent :7, Discount : 861.0, Bill : 11439.0

In [12]:
calcbill(5210,4)

Amount : 5210, Discount percent :4, Discount : 208.4, Bill : 5001.6

In [21]:
def personinfo(name="praffull",city="mumbai"):
  print(f'Name : {name}')
  print(f"City : {city}")

In [22]:
personinfo('sharayu','london')

Name : sharayu
City : london

In [24]:
personinfo('shailaja')

Name : shailaja
City : mumbai

In [25]:
personinfo('dubai')

Name : dubai
City : mumbai

variable positional arguments

In [33]:
def congrats(*names):
  print(names)
  for nm in names:
    print(f"congrats {nm}")

In [34]:
congrats('jos buttler')

('jos buttler',)
congrats jos buttler

In [35]:
congrats('joe root','steve smith')

('joe root', 'steve smith')
congrats joe root
congrats steve smith

In [36]:
congrats('steffi graff','emily blunt','dominik szoboszlai','florian wirtz')

('steffi graff', 'emily blunt', 'dominik szoboszlai', 'florian wirtz')
congrats steffi graff
congrats emily blunt
congrats dominik szoboszlai
congrats florian wirtz

In [40]:
def total(*args):
  print(f"sum of values is {sum(args)}")
  print(f"largest value is {max(args)}")

In [41]:
total(2,5)

sum of values is 7
largest value is 5

In [42]:
total(23,12,76,49,16)

sum of values is 176
largest value is 76

variable keyword arguments

In [43]:
def display(**kwargs):
  for key,value in kwargs.items():
    print(f"Key : {key}, Value : {value}")

In [44]:
display(name="praffull",city="berlin",club="chelsea")

Key : name, Value : praffull
Key : city, Value : berlin
Key : club, Value : chelsea

In [45]:
display(player="virgil van dijk",country="netherlands",position="defender",club="liverpool")

Key : player, Value : virgil van dijk
Key : country, Value : netherlands
Key : position, Value : defender
Key : club, Value : liverpool